/* h-top */
#h-top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eeeeee30;
}
#h-top.hover{
  background-color: #fff;
  border-bottom: 1px solid #33333330;
}
#h-top.hover input{
  border-bottom: 2px solid #333;
}
#h-top.hover .btn,
#h-top.hover input,
#h-top.hover input::placeholder,
#h-top.hover .h-top-lang,
#h-top.hover .h-top-lang a{
  color: #333;
}
#h-top > .inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.h-top-searchbar {
  position: relative;
  display: block;
}
.h-top-searchbar form {
  overflow: hidden;
}
.h-top-searchbar input {
  display: inline-block;
  width: 465px;
  height: 50px;
  padding: 3px 5px;
  border-color: transparent;
  border-bottom: 2px solid #fff;
  vertical-align: top;
  background-color: transparent;
  color: #fff;
}
.h-top-searchbar input::placeholder {
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 16px;
}
.h-top-searchbar .btn {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  margin-right: 20px;
  cursor: pointer;
}
#h-top .h-top-lang {
  position: relative;
  display: block;
  width: 50px;
  height: 70px;
  color: #fff;
}
#h-top .h-top-lang input {
  display: none;
}
#h-top .h-top-lang label i {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}
#h-top .h-top-lang a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 700;
  line-height: 50px;
}
#h-top .h-top-lang .en {
  position: absolute;
  left: 0;
  top: 25px;
  opacity: 0;
  transition: 0.2s;
}
#h-top .h-top-lang input:checked + .en {
  opacity: 1;
}


/* h-nav */
#h-nav {
  width: 100%;
  height: 81px;
  border-bottom: 1px solid #eeeeee30;
}
#h-nav.hover {
  background-color: #fff;
  border-bottom: 1px solid #33333330;
}
#h-nav.hover .h-nav-menu .menu-tit{
  color: #333;
}
#h-nav .h-nav-logo img {
  height: 70px;
  margin-left: -9px;
}
#h-nav .h-nav-menu {
  width: 875px;
  height: 80px;
  padding-left: 70px;
}
#h-nav .h-nav-menu > ul > li {
  padding: 0 27px;
  height: 80px;
}
#h-nav .h-nav-menu .menu-tit {
  display: block;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  padding: 35px 0 25px;
  position: relative;
}
#h-nav .h-nav-menu > ul > li > a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #1b358e;
  opacity: 0;
  transition: all 0.5s;
}
#h-nav .h-nav-menu > ul > li > a:hover::after,
#h-nav .h-nav-menu > ul > li > a:focus::after {
  opacity: 1;
}
#h-nav .h-nav-menu > ul > li > a:hover #gnb,
#h-nav .h-nav-menu > ul > li > a:focus #gnb {
  background: #ffffff;
  color: #333333;
}

#h-nav .h-nav-btn > input {
  display: none;
}
#h-nav .h-nav-btn i {
  color: #fff;
  font-size: 25px;
  margin-top: 30px;
  cursor: pointer;
}
#h-nav .h-nav-btn > span {
  display: none;
}

/* #h-banner */
#h-banner {
  width: 100%;
}
#h-banner .h-banner-text {
  width: 50%;
  height: 200px;
  margin-top: 80px;
  color: #fff;
  text-align: left;
}
#h-banner .h-banner-text .title {
  margin-bottom: 17px;
}
#h-banner .h-banner-text h1 {
  font-size: 80px;
  line-height: 1.2;
  font-family: Montserrat;
  font-weight: 700;
  display: block;
}
#h-banner .h-banner-text h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}
#h-banner .h-banner-text p {
  font-size: 18px;
  line-height: 1.5;
}

/* h-banner-content */
#h-banner .h-banner-content {
  width: 420px;
  height: 420px;
  background: #fff;
  margin-top: 50px;
  border-radius: 20px;
  position: relative;
}

#h-banner .h-banner-content ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#h-banner .h-banner-content ul li{
  width: 420px;
  height: 420px;
  padding: 30px;
  transition: all .7s;
}
#h-banner .h-banner-content .txtbox {
  height: auto;
}
#h-banner .h-banner-content .tit {
  display: block;
  color: #000;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 13px;
  text-overflow: ellipsis;
}
#h-banner .h-banner-content .txt {
  width: 100%;
  max-width: 420px;
  display: block;
  color: #444;
  font-size: 15px;
  font-weight: 200;
  text-align: left;
  height: 46px;
  overflow: hidden;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
#h-banner .h-banner-content .more {
  display: block;
  color: #444;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  width: 135px;
  border: 1px solid #ddd;
  padding: 3px 0;
  margin-bottom: 30px;
}
#h-banner .h-banner-content a:hover {
  text-decoration: underline;
}
#h-banner .h-banner-content .imgbox {
  display: block;
  width: 100%;
  height: 207px;
  overflow: hidden;
  position: relative;
}
#h-banner .imgbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) translate(0.5px, 0.5px);
}
#h-banner .slick-next,
#h-banner .slick-prev {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: -4px;
  background: #1b358e;
  cursor: pointer;
  position: absolute;
  top: 94.7%;
  overflow: hidden;
  z-index: 9;
}
#h-banner .slick-next{
  left: 330px;
}
#h-banner .slick-prev{
  left: 285px;
}
#h-banner .slick-next::before,
#h-banner .slick-prev::before,#h-banner .controls-auto button::before {
  font-family: "FontAwesome";
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#h-banner .controls-auto button {
  width: 45px;
  height: 45px;
  background-color: #040957;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
}
#h-banner .controls-auto .slide-start{
  display: none;
}
#h-banner .slick-prev::before{
  content: "\f053";
}
#h-banner .slick-next::before{
  content: "\f054";
}
#h-banner .controls-auto .slide-start::before{
  content: "\f04b";
}
#h-banner .controls-auto .slide-stop::before{
  content: "\f7a5";
}

/* h-banner-btn */
#h-slider{
  position: absolute;
  top: -60px;
  left: 0;
  z-index: -99;
}
#h-slider .slick-next,
#h-slider .slick-prev {
  font-family: "FontAwesome";
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
}
#h-slider .slick-prev{
  top: 500px;
  left: 70px;
}
#h-slider .slick-next{
  top: 440px;
  left: 140px;
}
#h-slider .slick-prev::before,
#h-slider .slick-next::before{
  content: '';
}
#h-slider .slick-prev::after,
#h-slider .slick-next::after{
  line-height: 60px;
  color: #fff;
  font-size: 16px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#h-slider .slick-prev::after{
  content: "\f053";
}
#h-slider .slick-next::after{
  content: "\f054";
}
#h-slider .slick-next:hover,
#h-slider .slick-next.active {
  background-color: #fff;
}
#h-slider .slick-prev:hover,
#h-slider .slick-prev.active {
  background-color: #fff;
}

/* h-banner-slider */
.h-banner-slider .slider {
  list-style: none;
}
.h-banner-slider .slider div.image{
  height: 645px;
}
